// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  padding: 20px 0;
  font-family: sans-serif;
  min-height: 100vh;
  background: #eee;
}
.App {
  text-align: center;
}
.Header{
  width: 40%;
  margin: 0 auto;
  padding: 15px 22px 20px 22px;
  background: #616161;
  color: #fff;
  font-size: 22px;
  border-top: 10px solid #4E4E4E;
}
button, input[type='submit']{
  background: #616161;
  color: #fff;
  padding: 10px 15px;
  outline: none;
  border: none;
  font-size: 12px;
  border-left: 3px solid #311a91
}
.CommentsContainer{
  text-align: center;
}
.Comment{
  background: #fff;
  margin: 0 auto 20px auto;
  padding: 20px;
  width: 40%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-left: 4px solid #311a91;
  text-align: left;
  position: relative;
}
.Comment__body{
  margin-bottom: 7px;
  font-weight: 300;
}
.Comment__author{
  font-size: 12px;
}
.Comment__author-name{
  font-weight: bold;
  font-size: 10px;
  margin-right: 3px;
}
input[type='text']{
  width: 30%;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 5px 10px;
  margin-bottom: 20px;
}
textarea{
  width: 30%;
  height: 80px;
  border: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 5px 10px;
  margin-bottom: 10px;
}
.btn__cancel{
  margin-top: 5px;
  font-size: 12px;
  color: #311a91;
}
.btn__cancel::hover{
  color: #7e56c1; 
  display: block;
}
.comment-form{
  text-align: center;
}
.delete-btn{
  position: absolute;
  right: 10px;
  top: 7px;
  text-decoration: none;
  color: #808080;
  &:hover{
    color: #7e56c1; 
  }
}
